{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} 新增项目 {% endblock %}
{% block css %}

    <!-- bootstrap-wysiwyg -->
    <link href="{% static 'vendors/google-code-prettify/bin/prettify.min.css' %}" rel="stylesheet">
    <!-- Select2 -->
    <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">
    <!-- Switchery -->
    <link href="{% static 'vendors/switchery/dist/switchery.min.css' %}" rel="stylesheet">
    <!-- starrr -->
    <link href="{% static 'vendors/starrr/dist/starrr.css' %}" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->

    <link href="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>添加新项目</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>项目信息 <small>请填写项目详细信息</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <form id="project_form" class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">项目类型</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select id="pro_type" name="pro_type" class="form-control" onchange="selected_info()">
                                            <option value="">选择类型</option>
                                            {% for t in pro_type_all %}
                                                {% ifequal t.name pro_type %}
                                                    <option value="{{ t.name }}" selected>{{ t.memo }}</option>
                                                {% else %}
                                                    <option value="{{t.name}}"> {{ t.memo }}</option>
                                                {% endifequal %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% if pro_type == 'web' %}
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-6 col-xs-12">域名</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="domain" name="domain" class="form-control" placeholder="domain">
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">项目名</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input type="text" id="project_name" class="form-control" placeholder="name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-6 col-xs-12">GIT地址</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="git_address" name="git_address" class="form-control" placeholder="git address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">开发负责人</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input type="text" id="dev_principal" name="dev_principal" class="form-control" placeholder="dev principal">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">环境</label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select id="env" name="env" class="form-control">
                                            <option value="">选择环境</option>
                                            {% for e in env_all %}
                                                <option value="{{ e.name }}">{{ e.memo }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">其他参数</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="kwargs" name="kwargs" class="form-control" placeholder="{'release_dir_name':'dest', 'mysql_user': 'default', 'mysql_pass':'default'}"/>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                        <button type="button" class="btn btn-primary">取消</button>
                                        <button type="reset" class="btn btn-primary">重置</button>
                                        <button type="button" class="btn btn-success" onclick="AddProjectBtn()">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}

{% block script %}
    <!-- bootstrap-daterangepicker -->
    <script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="{% static 'vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js' %}"></script>
    <script src="{% static 'vendors/jquery.hotkeys/jquery.hotkeys.js' %}"></script>
    <script src="{% static 'vendors/google-code-prettify/src/prettify.js' %}"></script>
    <!-- jQuery Tags Input -->
    <script src="{% static 'vendors/jquery.tagsinput/src/jquery.tagsinput.js' %}"></script>
    <!-- Switchery -->
    <script src="{% static 'vendors/switchery/dist/switchery.min.js' %}"></script>
    <!-- Select2 -->
    <script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
    <!-- Parsley -->
    <script src="{% static 'vendors/parsleyjs/dist/parsley.min.js' %}"></script>
    <!-- Autosize -->
    <script src="{% static 'vendors/autosize/dist/autosize.min.js' %}"></script>
    <!-- jQuery autocomplete -->
    <script src="{% static 'vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js' %}"></script>
    <!-- starrr -->
    <script src="{% static 'vendors/starrr/dist/starrr.js' %}"></script>

    <script>
        function selected_info(){
            var args = $("#project_form").serialize();
            window.location = "{% url 'coderelease_project_add_url' %}?" + args
        }
    </script>
    <script>
        function AddProjectBtn() {
            var project_name = document.getElementById('project_name').value;
            var pro_type = document.getElementById('pro_type').value;
            var kwargs = document.getElementById('kwargs').value;
            if (pro_type == 'web'){
                var domain = document.getElementById('domain').value;
            }


            var dev_principal = document.getElementById('dev_principal').value;
            var env = document.getElementById('env').value;
            var git_address = document.getElementById('git_address').value;
            if (project_name!=='' &&  pro_type!=='' && env!=='' && git_address!==''){
                if (confirm("确定提交?")){
                    $.ajax({
                        type: "post",
                        data:{
                            'project_name': project_name,
                            'pro_type': pro_type,
                            'domain': domain,
                            'env': env,
                            'kwargs': kwargs,
                            'git_address': git_address,
                            'dev_principal': dev_principal,
                        },
                        url: "{% url 'coderelease_project_add_url' %}",
                        success: function (data) {
                            if (data){
                                alert(data)
                                window.location.assign("{% url 'coderelease_project_list_url' %}")
                            }
                        }
                    });
                }
            }
            else {
                alert('数据不能为空')
            }

        }

    </script>
{% endblock %}
