{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/production/images/favicon.ico" type="image/ico" />

    <title>{% block title %}自定义 | {% endblock %}</title>

    {% include 'link.html' %}
    {% block css %}{% endblock %}

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>运维管理平台</span></a>
                </div>
                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="/static/production/images/img.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>{{ username }}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                {% include 'sidenar.html' %}
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                {% include 'footer_buttons.html' %}
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        {% include 'top_navigation.html' %}
        <!-- /top navigation -->

        <!-- page content -->
        {% block content %}

        {% endblock %}
        <!-- /page content -->

        <!-- footer content -->
        {% include 'footer_content.html' %}
        <!-- /footer content -->
    </div>
</div>

{% include 'script.html' %}
{% block script %}{% endblock %}

</body>
</html>
