{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} 加班管理 {% endblock %}
{% block css %}
    <!-- Datatables -->
    <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'custom/layui/css/layui.css' %}">
{% endblock %}
{% block content %}
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>加班记录列表 <small>project list</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p class="text-muted font-13 m-b-30">
                                <a href="{% url 'perecord_overtime_add_url' %}" class="btn btn-primary btn-sm" ><i class="fa fa-plus"></i> 新增</a>
                            </p>
                            <div class="row">
                                <form id="search_form" class="form-inline pull-right">
                                    <div class="form-group" id="date">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                                <input type="text" class="input-group-sm form-control" id="search_start_time" placeholder="yyyy年MM月dd日">
                                            <span class="input-group-addon">
                                                to
                                            </span>
                                                <input type="text" class="input-group-sm form-control" id="search_end_time" placeholder="yyyy年MM月dd日">
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="submit" id="search_btn" class="btn btn-sm btn-primary">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <table class="layui-hide" id="test"></table>
                            </div>
                        </div>
                    </div>
                    <label id="lab"></label>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}
{% block script %}
    <!-- Datatables -->
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{%  static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{%  static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'custom/layui/layui.js' %}"></script>
    <script>
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            laydate.render({
                elem: '#search_start_time',
                theme: 'molv',
            });
        });
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            laydate.render({
                elem: '#search_end_time',
                theme: 'molv',
            });
        })
    </script>
    <script>
        layui.use('table', function(){
            var table = layui.table;

            table.render({
                elem: '#test'
                ,url:'{% url 'report_overtime_list_url' %}'
                ,data: {"name": "zhuxiang"}
                ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                    layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                    //,curr: 5 //设定初始在第 5 页
                    ,groups: 1 //只显示 1 个连续页码
                    ,first: false //不显示首页
                    ,last: false //不显示尾页

                }
                ,cols: [[
                    {field:'name', width:100, title: '账号', sort: true}
                    ,{field:'s_time', width:200, title: '开始时间'}
                    ,{field:'e_time', width:200, title: '结束时间', sort: true}
                    ,{field:'overtime_hours', width:80, title: '时长'}
                    ,{field:'memo', title: '原因', minWidth: 100}
                    ,{field:'c_time', width:200, title: '创建时间', sort: true}
                ]]

            });
        });
    </script>
{% endblock %}
